## how to use this?
# 1, you alway need to add the "rules" first, then add/remove your file,
#    the git will automatically ingore the "big/untracked"file
# 2, if you alrady add/commit the changes,
#    use the following back to the old version
# git reset --hard <reversion number>


# add the file if you do not want to track it
**/__pycache__/
.idea/
.DS_Store
.vscode

task.md
temp_test.py
run_temp_test.sh
log_print.txt
# ingore the folder and all files

# config
config/SedCas-main/1h/sed_container_2004_2018.nc


# data
data/liveshow_cache
data/seismic_temp


# func
func/SedCas/1h

# pipelin
pipeline/MAP_results/v0dot4/sed_output.nc

# plotting
plotting/diagram/.$workflow-DTs.drawio.bkp
