## how to use this?
# 1, you alway need to add the "rules" first, then add/remove your file,
#    the git will automatically ingore the "big/untracked"file
# 2, if you alrady add/commit the changes,
#    use the following back to the old version
# git reset --hard <reversion number>


# add the file if you do not want to track it
**/__pycache__/
.idea/
.DS_Store
.vscode

task.md
temp_test.py
run_temp_test.sh

# ingore the folder and all files


# catchment code and event list
config/data_path.yaml

plotting/diagram/*.png

functions/SPI/archive/cached_SPI_data.npy
functions/SPI/archive/ILL_SPI_daily.py
functions/SPI/archive/ILL_SPI_month2day.py
functions/SPI/archive/spi_boundary_daily_spi_1.png
functions/SPI/archive/spi_boundary_spi_1.png
functions/SPI/archive/spi_params_daily_spi_1.npz
functions/SPI/archive/spi_params_daily_spi_30.npz
functions/SPI/archive/spi_params_spi_1.npz

# 
data/liveshow_cache
data/seismic_temp

config/SedCas-main/1h/sed_container_2004_2018.nc

# 
func/bayesian_inference/parallel_results
func/bayesian_inference/500step2026-03-17-backup

#
pipeline/real_pred/bayesian_inference0dot4
pipeline/re-calibrate/2004_2017_t_hydro_container_2017_10min-new.html
pipeline/re-calibrate/2004_2017_t_sed_container_2017_10min-new.html

pipeline/real_pred/static/channel_storage_Q50.npz
pipeline/real_pred/static/sed_transport_real_Q50.npz

