## how to use this?
# 1, you alway need to add the "rules" first, then add/remove your file,
#    the git will automatically ingore the "big/untracked"file
# 2, if you alrady add/commit the changes,
#    use the following back to the old version
# git reset --hard <reversion number>


# add the file if you do not want to track it
**/__pycache__/
.idea/
.DS_Store
.vscode

task.md
log_print.txt

temp_test.py
run_temp_test.sh

# ingore the folder and all files

# config
config/SedCas-main/1h/sed_container_2004_2018.nc


# data
data/liveshow_cache
data/seismic_temp
data/SedCas_ls
data/SedCas_whatif_input
data/open_access
data/SedCas_input/climate_2004_2025_t.txt

# func
func/SedCas/1h

# pipelin
pipeline/run_2004_2025_posterior/v0dot4
pipeline/run_whatif/v0dot4


# plotting
plotting/diagram/.$workflow-DTs.drawio.bkp
plotting/stastic_whatif/v0dot4

plotting/whatif/cache
plotting/whatif/archive

plotting/diagram/location_framework/A4.png
plotting/diagram/.$workflow-DTs.drawio.bkp